/*
*** Remote CSS for WordCamp Portland 2017 web site
*** WPMU install from WordCamp Central
http://2017.portland.wordcamp.org/
You can add your own CSS here.

Click the help icon above to learn more.
*/

/* Imported fonts Raleway and Roboto Slab moved to Theme settings for security reasons */

/* Faddah W. - adding new font-family to native elements & selectors of web site */

body, p, q, blockquote, cite, caption, li {
	font-family: 'Raleway', serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', sans-serif;
	 font-weight: 700;
}

/* Faddah W. - End adding new font-family to native elements & selectors */

/* Faddah W. - styling changes for main Front Page. */

.site-description {
  font-size: 2rem;
  font-style: italic;
}

.site-title a,
.site-description {
  color: cornsilk;
}

div.site-branding {
  margin-bottom: 5px;
}

#post-2 > div > div.wrap {
	margin-top: -8%;
}

article#panel1 > div.panel-content > div.wrap,
article#panel2 > div.panel-content > div.wrap {
	margin-top: -3%;
}

article#panel1 {
  color: #000;
}

/* Faddah W. - End styling changes Front Page. */

/* Jamie S - Removing borders on homepage modules */

article#panel1, article#panel2 {
  border: none;
}

article#panel1 h2.entry-title,
article#panel1 li,
article#panel1 a {
  color: #000;
}

/* Jamie S - End Removing borders on homepage */

/* Jamie S - Angles on module boxes */

.home article#panel1 {
    background-color: white;
    background-image: url('https://2017.portland.wordcamp.org/files/2017/06/crosspattern.png');
    -ms-transform: skew(0deg, -2deg);
    -webkit-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);

}

.home article#panel1 .panel-content {
	-ms-transform: skew(0deg, 2deg);
    -webkit-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
}

/* Jamie S - End Angles on module boxes */

/* Jamie S - Attribution text on Header pic */

div#wp-custom-header:before {
    position: absolute;
    top: 25px;
    right: 0;
    content: "Image courtesy of the Portland Street Art Alliance";
    color: white;
    font-size: 9px;
    background-color: #333;
    padding: 5px 20px;
    letter-spacing: .03em;
    opacity: .7;
    z-index: 1;
}

@media screen and (max-width: 564px) {
	div#wp-custom-header:before {
	    bottom: 25px;
	    top: initial;
	    font-size: 8px;
	    background-color: transparent;
	    color: #fff;
	    opacity: 1;
	    font-weight: 700;
	}
}

/* Jamie S - End Attribution text on Header pic */

.header-cta > a {
	background-color: #e74c3c;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff;
}

.header-cta > a:hover,
.navigation-top .header-cta.current-menu-item > a {
	background-color: #c0392b;
	color: #fff;
}

/* Jamie S - main menu styling */

.navigation-top {
    border-color: #211e1f !important;
    background-color: #211e1f !important;
}

 .main-navigation a {
 	text-transform: uppercase;
 	font-family: 'Roboto Slab';
     font-weight: 400 !important;
    color: #fff !important;
}

 ul#top-menu {
 	text-align: right;
	background-color: #211e1f;
}

.menu-main-container {
	margin-right: 20px;
}

/* Jamie S - Positioning site branding box on homepage */

.home .site-branding {
    top: 0;
    background-color: #211e1f;
    max-height: 330px;
    width: initial !important;
    padding-bottom: 0;
}

@media screen and (max-width: 734px) {
	.home .site-branding {
		height: auto !important;
	    max-height: 100%;
      width: 100% !important;
	    padding: 0;
	    display: inline-block !important;
	}
}

.home .site-branding .wrap {
    padding: 0 65px 53px 65px;
    margin: 0;
}

@media screen and (max-width: 734px) {
	.home .site-branding .wrap {
	    padding: 30px 40px;
	}
}

.home .site-branding .wrap a {
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.home .site-branding .wrap a img {
    width: 100%;
    max-width: 213px;
    height: auto;
    max-height: initial;
}

@media screen and (max-width: 734px) {
	.home .site-branding .wrap a img {
		max-width: 160px;
	}
}

.home .site-branding .wrap .site-branding-text {
    padding-top: 30px;
    text-align: center;
}

@media screen and (max-width: 734px) {
	.home .site-branding .wrap .site-branding-text {
		padding-top: 20px;
    width: 100%;
	}
}

.home .site-branding .wrap .site-branding-text h1 {
    font-size: 18px;
    font-weight: 400;
}

.home .site-branding .wrap .site-branding-text p.site-description {
    font-size: 18px;
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    opacity: 1;
}

@media screen and (max-width: 734px) {
	.home .site-branding .wrap .site-branding-text h1, .home .site-branding .wrap .site-branding-text p.site-description {
	    font-size: 16px;
	}

	/* Jamie S - End Positioning site branding box. */

  /* Nick K. - Styling to fix Mobile Header */
  .home header#branding {
    padding: 0;

  }

  .home header#branding .site-branding {
    margin-bottom: 0;
    padding-bottom: 0.5em;
  }

  .home header#branding .site-branding h1#site-title, .home header#branding .site-branding h1#site-title a, .home header#branding .site-branding h2#site-description, .home header#branding .site-branding h1#site-title a:hover{
    color: white;
    text-align: center;
  }
}

/* Nick K. - End Mobile Header styling */

/* Jamie S - background styles */

.pattern {
	background-color: transparent;
	background-image: url('https://2017.portland.wordcamp.org/files/2017/06/crosspattern.png');
}

/* Jamie S - End background styles. */

/* Nick K - Light & Dark Link styling for button links (a.pushbutton) */

a.pushbutton {
  background-color: #222;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

a.pushbutton:hover {
  background: #767676;
}

.colors-dark a.pushbutton {
  color: #222;
  box-shadow: none;
  background: white;
}

.colors-dark a.pushbutton:hover {
  color: #222;
  box-shadow: none;
  background: #bbb;
}

/* Nick K. - End styling for Light & Dark button links. */

/* Faddah W. -- Front Page Top soc. media icon row styling in flexbox rows.
*/

#front-page-soc-media-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	float: right;
}

img.alignnone.size-full.wp-image-838,
img.alignnone.size-full.wp-image-835,
img.alignnone.size-full.wp-image-836,
img.alignnone.size-medium.wp-image-837 {
	margin-right: 13%;
}

/* end Faddh W. Page Top soc. media icon row styling. */

/* Nick K. - Social Media Sizes on Mobile */
#front-page-soc-media-icons img {
  max-width: 44px;
}

@media screen and (max-width: 734px) {
  #front-page-soc-media-icons {
    width: 100%;
    height: 70px;
  }
}

body.mobile-theme #front-page-soc-media-icons {
  width: 100%;
  margin-bottom: 10px;
}

body.mobile-theme #front-page-soc-media-icons a{
  padding-right: 15px;
}

body.mobile-theme #front-page-soc-media-icons a:last-child{
  padding-right: 0;
}

/* Nick K. - End adjusment for Instagram social media icon.

/* Doug Y. - Headings */

.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
	color: #2c3e50;
	font-size: 2.4rem;
	letter-spacing: 0;
	text-align: center;
}

/* Doug Y. - End of Headings styling */

/* Doug Y. - Remove edit link to see proper spacing */

.page .entry-header .edit-link {
	display: none;
}

/* Doug Y. - End of Remove edit link styling. */

/* Doug Y. - CSS to make fixed header, accounts for admin bar and also removes the extra gray space below the header */

@media screen and (min-width: 48em) {
	.site-header .navigation-top {
		bottom: auto;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	.admin-bar .site-header .navigation-top {
		top: 32px;
	}

	.custom-header {
		margin-bottom: 0 !important;
		margin-top: 72px;
	}
}

/* Doug Y. - End of CSS fixes for header, accounts for admin bar & extra gray space below the header */

/* Nick K. - Sponsor List */
.wcorg-sponsors h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
  border-bottom: 4px double #CCC;
  margin-top:60px;
}

.wcorg-sponsor-description img {
	max-width: 400px;
	margin: 0 auto 20px;
	display:block;
}

/* End Nick K. Sponsor List */

/* Nick K. Social Media Feed Legibility w/Dark Background  */

.tggr-media-items {
  align-items: stretch;
}

.colors-dark .tggr-item-content {
  color: black;
}

.colors-dark .tggr-item-content a, .colors-dark .tggr-timestamp {
  color: #999;
}

.colors-dark .tggr-item-content a:hover, .colors-dark .tggr-timestamp {
  color: #000;
}

.tggr-author-name {
  font-size: 1em;
}

.tggr-author-username {
  margin-left: 67px;
  margin-bottom: 10px;
}

#content .tggr-author-profile img, .tggr-author-profile img {
  margin-right: 18px;
}

/* END Nick K. Social Media */


/* Nick K. Mobile Theme Adjustments */

body.mobile-theme .main-navigation a {
  color: black !important;
}

body.mobile-theme .menu-search {
  background: #211e1f;
  box-shadow: none;
}

body.mobile-theme .search-form #s {
  background: #5a575a;
  border: 1px solid #211e1f;
}

body.mobile-theme .entry-content h2 {
  line-height: 1.6
}

/* END Nick K Mobile Theme Adjustments */

/* Faddah W. - Flex styling Organizers Page */

.wcorg-organizers {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.wcorg-organizer {
	width: 30%;
	height: 22rem;
	overflow-y: scroll;
	padding: 5%;
	margin-bottom: 5%;
	background-color: #545454;
	border: solid cornsilk;
	border-radius: 20%;
	-webkit-box-shadow: 3px 3px 5px 6px black;
  -moz-box-shadow:    3px 3px 5px 6px black;
  box-shadow:         3px 3px 5px 6px black;
}

/* Faddah W. - END styling Organizers Page */
